
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.App {
  font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: 'GongGothicBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
